<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.forbes.dal.mapper.OrderItemMapper" >
  <resultMap id="BaseResultMap" type="org.forbes.dal.entity.OrderItem" >
    <!-- 主键 -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <!-- 创建时间 -->
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <!-- 更新人 -->
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <!-- 更新时间 -->
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <!-- 订单ID -->
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <!-- 规格ID -->
    <result column="spec_id" property="specId" jdbcType="BIGINT" />
    <!-- 商品ID -->
    <result column="pro_id" property="proId" jdbcType="BIGINT" />
    <!-- 商品编码 -->
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <!-- 商品名称 -->
    <result column="name" property="name" jdbcType="VARCHAR" />
    <!-- 单价 -->
    <result column="price" property="price" jdbcType="DECIMAL" />
    <!-- 数量 -->
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <!-- 退货数量 -->
    <result column="returned_quantity" property="returnedQuantity" jdbcType="INTEGER" />
    <!-- 发货数量 -->
    <result column="shipped_quantity" property="shippedQuantity" jdbcType="INTEGER" />
    <!-- 规格值 -->
    <result column="specifications" property="specifications" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_by, create_time, update_by, update_time, order_id, spec_id, pro_id, sn, 
    name, price, quantity, returned_quantity, shipped_quantity, specifications
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from f_order_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from f_order_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" >
    insert into f_order_item (id, create_by, create_time, 
      update_by, update_time, order_id, 
      spec_id, pro_id, sn, name, 
      price, quantity, returned_quantity, 
      shipped_quantity, specifications)
    values (#{id,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{orderId,jdbcType=BIGINT}, 
      #{specId,jdbcType=BIGINT}, #{proId,jdbcType=BIGINT}, #{sn,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{quantity,jdbcType=INTEGER}, #{returnedQuantity,jdbcType=INTEGER}, 
      #{shippedQuantity,jdbcType=INTEGER}, #{specifications,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" >
    insert into f_order_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="specId != null" >
        spec_id,
      </if>
      <if test="proId != null" >
        pro_id,
      </if>
      <if test="sn != null" >
        sn,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="returnedQuantity != null" >
        returned_quantity,
      </if>
      <if test="shippedQuantity != null" >
        shipped_quantity,
      </if>
      <if test="specifications != null" >
        specifications,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="specId != null" >
        #{specId,jdbcType=BIGINT},
      </if>
      <if test="proId != null" >
        #{proId,jdbcType=BIGINT},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="returnedQuantity != null" >
        #{returnedQuantity,jdbcType=INTEGER},
      </if>
      <if test="shippedQuantity != null" >
        #{shippedQuantity,jdbcType=INTEGER},
      </if>
      <if test="specifications != null" >
        #{specifications,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" >
    update f_order_item
    <set >
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="specId != null" >
        spec_id = #{specId,jdbcType=BIGINT},
      </if>
      <if test="proId != null" >
        pro_id = #{proId,jdbcType=BIGINT},
      </if>
      <if test="sn != null" >
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="returnedQuantity != null" >
        returned_quantity = #{returnedQuantity,jdbcType=INTEGER},
      </if>
      <if test="shippedQuantity != null" >
        shipped_quantity = #{shippedQuantity,jdbcType=INTEGER},
      </if>
      <if test="specifications != null" >
        specifications = #{specifications,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" >
    update f_order_item
    set create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      order_id = #{orderId,jdbcType=BIGINT},
      spec_id = #{specId,jdbcType=BIGINT},
      pro_id = #{proId,jdbcType=BIGINT},
      sn = #{sn,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      quantity = #{quantity,jdbcType=INTEGER},
      returned_quantity = #{returnedQuantity,jdbcType=INTEGER},
      shipped_quantity = #{shippedQuantity,jdbcType=INTEGER},
      specifications = #{specifications,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>